.article-clean {
  color:#56585b;
  font-family:'Lora', serif;
  font-size:14px;
}

.article-clean .intro {
  font-size:16px;
  margin:0 auto 30px;
}

.article-clean .intro h1 {
  font-size:32px;
  margin-bottom:15px;
  padding-top:20px;
  line-height:1.5;
  color:inherit;
  margin-top:20px;
}

.article-clean .intro p {
  color:#929292;
  font-size:12px;
}

.article-clean .intro p .by {
  font-style:italic;
}

.article-clean .intro p .date {
  text-transform:uppercase;
  padding:4px 0 4px 10px;
  margin-left:10px;
  border-left:1px solid #ddd;
}

.article-clean .intro p a {
  color:#333;
  text-transform:uppercase;
  padding-left:3px;
}

.article-clean .intro img {
  margin-top:20px;
}

.article-clean .text p {
  margin-bottom:20px;
  line-height:1.45;
}

@media (min-width:768px) {
  .article-clean .text p {
    font-size:16px;
  }
}

.article-clean .text h2 {
  margin-top:28px;
  margin-bottom:20px;
  line-height:1.45;
  font-size:16px;
  font-weight:bold;
  color:#333;
}

@media (min-width:768px) {
  .article-clean .text h2 {
    font-size:20px;
  }
}

.article-clean .text figure {
  text-align:center;
  margin-top:30px;
  margin-bottom:20px;
}

.article-clean .text figure img {
  margin-bottom:12px;
  max-width:100%;
}

ul {
  position:relative;
  list-style:none;
  margin-left:0px;
  padding-left:1.2em;
}

package_ul package_li:before {
  content:"🗸";
  position:absolute;
  left:0;
}

ul li:before {
  content:"🗸";
  left:0px;
  padding-right:1.2em;
}

#bg-faq {
  background-image:url("../../assets/img/question mark.jpg");
  background-size:cover;
  background-repeat:no-repeat;
}

#bg-team {
  background-size:cover;
  background-repeat:no-repeat;
}

#bg-contact {
  background-image:url("../../assets/img/Contact us.jpg");
  background-size:cover;
  background-repeat:no-repeat;
}

#bg-index {
  background-image:url("../../assets/img/library.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-color:rgba(0,0,0,0.1);
}

#bg-login {
  background-image:url("../../assets/img/login.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}

#bg-resume {
  background-image:url("../../assets/img/resume_bg.jpg");
  background-color:rgba(0,0,0,0.1);
  background-repeat:no-repeat;
  background-size:cover;
}

#resume_img_style {
  border-color:red;
  border-radius:20px;
  border-width:2px;
  border-style:groove;
}

#bg-packages {
  background-image:url("../../assets/img/packages.jpg");
  background-size:cover;
  background-repeat:no-repeat;
}

#bg-register {
  background-image:url("../../assets/img/registergb.jpg");
  background-size:cover;
  background-repeat:no-repeat;
}

